<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Longin store">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Longin store</title>

</head>


<body>

    <div class="sidebar">
        <button onclick="window.location.href='';">Test button</button>
        <button onclick="window.location.href='/index2';">Store</button>
        <button onclick="window.location.href='/products';">Updates</button>
        <button onclick="window.location.href='/page3';">Information</button>
    </div>

    <div class="header">
        <img src="https://media.discordapp.net/attachments/756894136723963925/1298675560943321150/who-wins-this-war-v0-azbiu239liwd1.png?ex=6770c79d&is=676f761d&hm=0764591c4bd67eeea79ce2e60f7f31a84916c7872e37a41f1bda283dfe2e4ebc&=&format=webp&quality=lossless&width=450&height=450" alt="">
    <div class="text">
        <div class="title">Login store</div>
        <div class="subtitle">Онлайн магазин машин</div>
    </div>
    </div>

    <div class="image-container">

        <div class="car-item">
            <img src="https://cq.ru/img/f/e/2024/5/09/253505.jpg" alt="Turismo R">
            <h3 class="card-title">Turismo R</h3>
            <p class="card-price">$2,525,000</p>
            <button onclick="window.location.href='/page2';">buy</button>
        </div>


        <div class="car-item">
            <img src="https://pbs.twimg.com/media/GSMg73WbsAAMZjH.jpg:large" alt="Declasse Impaler LX">
            <h3>Declasse Impaler LX</h3>
            <p>Price: $1,465,000</p>
           <button onclick="window.location.href='/page4';">buy</button>
        </div>


        <div class="car-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTBc7xCI-OGWCzMmFmVbl24Nv7zIWTuAaweg&s" alt="Karin Vivanite">
            <h3>Scramjet</h3>
            <p>Price: $3,600,000</p>
            <button onclick="window.location.href='/page5';">buy</button>
        </div>

        <div class="car-item">
            <img src="https://www.gta5rides.com/vehicleimages/cropped/vigilante.jpg.jpg" alt="Vapid Dominator GT">
            <h3>Vigilante</h3>
            <p>Price: $2,700,000</p>
            <button onclick="window.location.href='/page6';">buy</button>
        </div>

        <div class="car-item">
            <img src="https://cs1.gtavicecity.ru/attachments/2017-10/original/2402ae2ea4548f090ce3157043e2cb7460145d51/7981-GTA5-2017-08-07-15-41-49-58.jpg" alt="Declasse Vigero ZX">
            <h3>Coil Rocket Voil ZX</h3>
            <p>Price: $4,000,000</p>
            <button onclick="window.location.href='/page7';">buy</button>
        </div>


        <div class="car-item">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1660106200672093290/78617138FD0892AD2347D23EF3F1199247E25156/" alt="Fathom FR36">
            <h3>Ubermacht</h3>
            <p>Price: $610,000</p>
            <button onclick="window.location.href='/page8';">buy</button>
        </div>

    </div>



</body>
</html>
