<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Purchase Confirmation</title>

</head>
<body>
        <div class="sidebar">
        <button onclick="window.location.href='';">Test button</button>
        <button onclick="window.location.href='/index2';">Store</button>
        <button onclick="window.location.href='/products';">Updates</button>
        <button onclick="window.location.href='/page3';">Information</button>
    </div>


        <div class="header">
    <h1>Longin store</h1>
    <h2>Онлайн магазин машин</h2>
    </div>

    <div class="container">
        <h2>Scramjet</h2>

        <div class="price">$3,600,000</div>

        <div class="car-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTBc7xCI-OGWCzMmFmVbl24Nv7zIWTuAaweg&s" alt="Scramjet">
        </div>

        <h3>Select from available colors to order:</h3>
        <div class="color-options">
            <div class="color-red"></div>
            <div class="color-pink"></div>
            <div class="color-yellow"></div>
            <div class="color-blue"></div>
            <div class="color-black"></div>
            <div class="color-white"></div>
        </div>

        <button class="buy-button" onclick="window.location.href='page9';">Confirm</button>

        <div class="description">
            The perfect car to go with your flesh tunnel earrings, frosted spikes, and oversize jeans. Buy this and you'll never be judged again.
        </div>
    </div>
</body>
</html>
