<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>

<BODY BGCOLOR="#808080">
<P ALIGN="CENTER">
<FONT COLOR="black" SIZE="6" FACE="ARIAL">
<B>Информация про машины</B></FONT><BR></P>

<style>
        /* Устанавливаем серый фон для всей страницы */
        body {
            background-color: #808080; /* Серый цвет */
        }
    </style>

<TABLE BORDER="1" WIDTH=100% BGCOLOR="#00ff00">
<TR BGCOLOR="#ffffff" ALIGN="CENTER">
<TD>Номер</TD> <TD>Название</TD> <TD>Статус</TD> <TD>Дата Скидки</TD>
</TR>
<TR>
<TD>1</TD> <TD>Turismo R</TD> <TD>Продана</TD> <TD>29 ноября до 7 декабря</TD>
</TR>
<TR>
<TD>2</TD> <TD>Declasse Impaler LX</TD> <TD>В дороге</TD> <TD>21 декабря до 1 февраля</TD>
</TR>
<TR>
<TD>3</TD> <TD>Scramjet</TD> <TD>Нет в наличии</TD> <TD>Только 1 января</TD>
</TR>
<TR>
<TD>4</TD> <TD>Vigilante</TD> <TD>В дороге</TD> <TD>5 Июня до 10 Июля</TD>
</TR>
<TR>
<TD>5</TD> <TD>Coil Rocket Voil ZX</TD> <TD>Есть в наличии</TD> <TD>20 Августа до 14 сентября</TD>
</TR>
<TR>
<TD>6</TD> <TD>Ubermacht</TD> <TD>Есть в наличии</TD> <TD>хз еще не придумал</TD>
</TR>
</TABLE>
</BODY>

</html>