<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succesfull</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #90EE90;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }


    </style>
</head>
<body>
    <img src="https://www.mgt-commerce.com/astatic/assets/images/article/2023/225/hero.svg?v=1.0.3" alt="Centered Image">
</body>
</html>