<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <title>Purchase Confirmation</title>

</head>
<body>
    <div class="header">
        Longin Store
    </div>

    <div class="container">
        <h2>Coil Rocket Voil ZX</h2>

        <div class="price">$4,000,000</div>

        <div class="car-image">
            <img src="https://cs1.gtavicecity.ru/attachments/2017-10/original/2402ae2ea4548f090ce3157043e2cb7460145d51/7981-GTA5-2017-08-07-15-41-49-58.jpg" alt="Coil Rocket Voil ZX">
        </div>

        <h3>Select from available colors to order:</h3>
        <div class="color-options">
            <div class="color-red"></div>
            <div class="color-pink"></div>
            <div class="color-yellow"></div>
            <div class="color-blue"></div>
            <div class="color-black"></div>
            <div class="color-white"></div>
        </div>

        <button class="buy-button" onclick="window.location.href='page9';">Confirm</button>

        <div class="description">
            The perfect car to go with your flesh tunnel earrings, frosted spikes, and oversize jeans. Buy this and you'll never be judged again.
        </div>
    </div>
</body>
</html>
