<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not fixed bugs</title>
</head>
<body>
<h1><b>Не исправленные ошибки и будущие обновления:</h1></b>
<h2>- возможность изменить цвет транспорта</h2>
<h2>- добавление корзины</h2>
<h2>- страница для регистрации аккаунта</h2>
<h2>- добавление анимации при выборе любых покупок</h2>
<h2>- Больше новых машин</h2>
<h2>- страницы для обратной связи</h2>
<h2>- редизайн всего дизайна страниц сайта</h2>
<h2>- добавление сортировки машин по параметрам</h2>
</body>
</html>