<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not fixed bugs</title>
</head>
<body>
<h1><b>Not fixed bugs and Future updates:</h1></b>
<h2>- opportunity change transportation color</h2>
<h2>- adding shopping cart</h2>
<h2>- page for registration account</h2>
<h2>- adding animation in selecting any purchases</h2>
<h2>- More new machines</h2>
<h2>- pages for feedback</h2>
<h2>- redesign of the entire website page design</h2>
<h2>- adding sorting of machines by parameters</h2>
</body>
</html>