<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Политика возврата</title>
<style>
body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 20px;
color: #333;
}
h1, h2 {
color: #0056b3;
}
h1 {
text-align: center;
}
a {
color: #0056b3;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
</style>
</head>
<body>
<h1>Политика возврата</h1>
<p><strong>Дата вступления в силу:</strong> 4 января 2025 год </p>
<p>Мы стремимся предоставлять вам только лучшие автомобили и услуги, но, если по какой-то причине вы не удовлетворены покупкой, мы готовы помочь вам с возвратом. Ознакомьтесь с нашей политикой возврата ниже.</p>
<h2>1. Условия возврата</h2>
<p>Возврат товаров возможен в следующих случаях:</p>
<ul>
<li>Если автомобиль имеет дефекты или повреждения, которые не были указаны в описании товара.</li>
<li>Если автомобиль не соответствует описанию, представленному на сайте.</li>
<li>Если сделка не была завершена по вине продавца (например, продавец отменил заказ).</li>
</ul>
<h2>2. Сроки возврата</h2>
<p>Для возврата автомобиля у вас есть <strong>14 календарных дней</strong> с момента получения автомобиля. После этого возврат может быть отклонен, если не соблюдены условия.</p>
<h2>3. Процесс возврата</h2>
<p>Чтобы вернуть автомобиль, выполните следующие шаги:</p>
<ul>
<li>Свяжитесь с нашей службой поддержки по электронной почте: <a href="mailto:[ваша электронная почта]">Longin.store@gmail.com</a>.</li>
<li>Предоставьте информацию о заказе и объясните причину возврата.</li>
<li>После подтверждения вашего запроса мы сообщим вам инструкции по возврату автомобиля.</li>
</ul>
<h2>4. Возврат средств</h2>
<p>После получения автомобиля и подтверждения его состояния, мы произведем возврат средств на тот же способ оплаты, который вы использовали при оформлении заказа. Обработка возврата может занять до <strong>10 рабочих дней</strong>.</p>
<h2>5. Исключения</h2>
<p>Возврат не возможен в следующих случаях:</p>
<ul>
<li>Если автомобиль был поврежден по вине покупателя.</li>
<li>Если автомобиль был использован или в нем были внесены изменения после получения.</li>
</ul>
<h2>6. Дополнительные расходы</h2>
<p>Все расходы на возврат автомобиля (например, транспортировка) оплачиваются покупателем, если не указано иное.</p>
<h2>7. Контакты</h2>
<p>Если у вас есть вопросы или вы хотите начать процесс возврата, свяжитесь с нами по адресу:Longin.store@gmail.com</a>.</p>
</body>
</html>